* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  margin: 0;
  font-family: 'Rubik' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width:1250px;
  margin: 0 auto;

  background-color: rgb(110, 107, 107);
  color: rgb(250, 243, 243);
}
