.MatchDetailCard {
    padding:5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;

    .vs {
        font-size:2rem;
    }
    .match-data{
        margin-top:10px;
    }
    .match-venue{
        margin-top:10px;
    }
    .match-result{
        margin-top:10px;
    }
    .additional-detail{
        text-align:right;
    }
    .FirstInnings,.SecondInnings,.MOM,.Umpire{
        color:rgb(255, 255, 255);
        font-weight:bold; 
        margin-top:10px;
    }

}