.TeamTile{
    height: 100px;
    justify-self: center;
    align-self: center;
    text-align: center;
    border: 2px solid;
    padding: 25px;
    
    a{
        color:rgb(255, 253, 253);
        text-decoration: none;

    }
}